<!-- Main Content -->
<div class="jumbotron text-center" style="background-color: #f8d7da; color: #000;">
  <h1 class="display-4"><%= @home.heading %></h1>
  <p class="lead"><%= @home.moto %></p>
</div>

<div class="container" style=" color: #000;">
  <div class="row">
    <div class="col-lg-6">
      <div class="card" style=" color: #000;">
        <h2><%= @home.message_one_heading %></h2>
        <p><%= @home.message_one %></p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card" style=" color: #000;">
        <h2><%= @home.message_two_heading %></h2>
        <p><%= @home.message_two %></p>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="text-black text-center py-4" style="background-color: #f8d7da; color: #000;">
  <p>&copy; 2024. All Rights Reserved.</p>
</footer>
